.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.hr {
  width: 90vw;
}

.margin {
  margin: 10px;
}

.a-block {
  display: inline-block;
  width: 40vw;
  height: 40vh;
  padding: 10px;
  margin: 10px;
  font-size: 14px;
}

#editor {
  border-style: inset;
}

#preview {
  background-color: gainsboro;
  border-style: groove;
  overflow: auto;
  color: black;
  text-align: left;
}

@media screen and (max-width: 700px) {
  .a-block {
    dislay: block;
    width: 80vw;
    height: 25vh;
  }
}
